*.log
.DS_Store
.env
.env.local
.env.*.local

/.idea
/.vscode

/vaccination-tracker-api/.bundle
/vaccination-tracker-api/log/*
/vaccination-tracker-api/tmp/*
/vaccination-tracker-api/storage/*
!/vaccination-tracker-api/log/.keep
!/vaccination-tracker-api/tmp/.keep
!/vaccination-tracker-api/tmp/pids/.keep
!/vaccination-tracker-api/tmp/storage/.keep
!/vaccination-tracker-api/storage/.keep

/vaccination-tracker-web/node_modules
/vaccination-tracker-web/.next
/vaccination-tracker-web/coverage
